**/node_modules
frontend/public/sprites
frontend/public/data*
frontend/.env.local
frontend/dist
tile-compiler/geo
wiki-downloader/target
**/.project
**/.classpath
**/.settings
tile-compiler/target

#ingore image sources so they are not added accidentally
sources/images/**/*
!sources/images/**/*.dvc
!sources/images/**/.gitignore

# IntelliJ
.idea/*
*.iml
/sources/qgis.qgs~
/sources/qgis_attachments.zip
