**/node_modules
frontend/public/sprites
frontend/public/data*
frontend/public/golarion.pmtiles
frontend/.env.local
frontend/dist
tile-compiler/geo
wiki-downloader/target
**/.project
**/.classpath
**/.settings
tile-compiler/target

# IntelliJ
.idea/*
*.iml
/sources/qgis.qgs~
/sources/qgis_attachments.zip
frontend/public/golarion.pmtiles*
**/__pycache__
frontend/public/search.json*
frontend/public/debug.pmtiles
