/crown-arcadia.png
/crown-arcadia_modified.tif
/crown-avistan-labeled2.png
/crown-avistan-labeled2_modified.tif
/crown-avistan-labeled3.png
/crown-avistan-labeled3_modified.tif
/crown-of-the-world.webp
/crown-of-the-world_labels.webp
/crown-tianxia-labeled1.png
/crown-tianxia-labeled2.png
/CrownOfTheWorld-projected.png
/CrownOfTheWorldLabeled-projected.png
