/alkenstar-labels.png
/alkenstar-labels_modified.tif
/bhopan-labels.png
/geb-labels.png
/geb-labels_modified.tif
/jalmeray-labels.png
/jalmeray-labels_modified.tif
/nex-labels.png
/nex-labels_modified.tif
