@import "pure-context-menu/styles.min.css";
//currently not needed

body {
	margin: 0;
	padding: 0;
	background-color: transparent;
}

#map-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: black url(stars.webp) 0% 0%/cover;
	
	&.embedded {
		background: transparent;
	}
}

.embedded {
	.maplibregl-ctrl-scale {
		background: transparent;
		height: 5px;
		margin-bottom: 15px !important;
	}
}

.distance-container {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}
	 
.distance-container > * {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 24px;
	line-height: 18px;
	display: block;
	margin: 0;
	padding: 5px 10px;
	border-radius: 3px;
}

.maplibregl-popup-content {
	padding-top: 0;
}

.wiki-popup {
	margin: -5px 0 -10px 0;

	p {
		margin-bottom: 0;
	}
	
	h3 {
		font-size: 120%;
		font-weight: bold;
		width: 100%;
		border-bottom: 1px solid gray;
		margin-right: .5rem;
		margin-bottom: 0;
	}

	ul {
		margin: 0;
		padding-left: 1.5em;
	}

	h3 + p {
		margin-top: .25em;
	}

	a {
		text-decoration: none;
	}
}

.pure-context-menu.dropdown-menu {
	font-family: arial;
	padding: .2em;
	color: #222;
}