/TianXia_OverlandMap.jpg
/TianXia_OverlandMap.png
/TianXia_OverlandMap.png.aux.xml
/TianXia_OverlandMap.png.points
/TianXia_OverlandMap_modified.tif
/TianXia_OverlandMap_modified.tif.aux.xml
/TianXia_OverlandMap_narrow.tif
/TianXia_OverlandMap_oz-narrow.png.points
