/TianXia_OverlandMap.png
/TianXia_OverlandMap_modified.tif
/TianXia_OverlandMap_labeled_modified.tif
/TianXia_OverlandMap_labeled.png
/TianXia_PDF_OverlandMap_modified.tif
/TianXia_PDF_OverlandMap.tif
