# This workflow will check commits to contain no images and if dvc is up to date

name: Check Commit
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Check that no images are in the repo
      run: |
        rm -rf frontend/public
        ! find . -name '*.png' | grep .
        ! find . -name '*.jpg' | grep .
        ! find . -name '*.tif' | grep .
        ! find . -name '*.webp' | grep .
    - name: Install dvc
      env:
        WEBDAVPW: ${{ secrets.WEBDAVPW }}
      run: |
        sudo snap install dvc --classic
        dvc remote modify --local webdav password $WEBDAVPW
    - name: Check if dvc pull works
      run: |
        dvc pull
        dvc checkout
