# This workflow will check commits to contain no images and if dvc is up to date

name: Check Commit
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Check that no images are in the repo
      run: |
        rm -rf frontend
        find . -name '*.png'  -print -exec sh -c 'exit 1'
        find . -name '*.jpg'  -print -exec sh -c 'exit 1'
        find . -name '*.tif'  -print -exec sh -c 'exit 1'
        find . -name '*.webp' -print -exec sh -c 'exit 1'
    - name: Install dvc
      run: sudo snap install dvc --classic
    - name: Setup dvc
      run: dvc remote modify --local webdav password "${{ secrets.WEBDAVPW }}"
    - name: Check if dvc pull works
      run: |
        dvc pull
        dvc checkout
