# This workflow will check commits to contain no images and if dvc is up to date

name: Check Commit
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Check that no images are in the repo
      run: |
        rm -rf frontend
        [ ! -n "$(find . -name '*.png' -print)" ]
        [ ! -n "$(find . -name '*.jpg' -print)" ]
        [ ! -n "$(find . -name '*.tif' -print)" ]
        [ ! -n "$(find . -name '*.webp' -print)" ]
    - name: Install dvc
      run: sudo snap install dvc --classic
    - name: Setup dvc
      run: |
        dvc remote modify --local webdav password "${{ secrets.WEBDAVPW }}"
        dvc remote modify --local webdav custom_auth_header "anti-protection: ${{ secrets.ANTI_PROTECTION_SECRET }}"
        dvc config -l
    - name: Check if dvc pull works
      run: |
        dvc pull
        dvc checkout
