name: Update sources from the wiki

on:
  schedule:
    - cron: "0 */8 * * *"
  workflow_dispatch:

permissions:
  contents: write

# Allow one concurrent deployment
concurrency:
  group: "download"
  cancel-in-progress: true

jobs:
  # Build job
  pull:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: false
          token: ${{ secrets.ACTIONS_PAT }}
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Download changes
        run: |
          cd wiki-downloader
          mvn -B compile
          mvn -B exec:java -Dexec.mainClass="io.github.pfwikis.DownloadCities"
          mvn -B exec:java -Dexec.mainClass="io.github.pfwikis.DownloadLoI"
      - name: Push changes
        id: push
        uses: EndBug/add-and-commit@v9
        with:
          message: 'Updating wiki derived json files'
